In [1]:
import pandas as pd

In [3]:
##df = pd.read_csv("whatsapp_flirt_nonflirt_Chats.txt",header=None,on_bad_lines="skip",encoding='utf8')
df = pd.read_csv("whatsapp_flirt_nonflirt_Chats.txt",header=None,on_bad_lines="skip",encoding='utf8')

In [5]:
df

            0                                                  1
0    05/12/19   1:42 pm - Messages to this chat and calls are...
1    26/08/25   12:46 PM - Geetha: Keep talking like that and...
2    26/08/25     12:47 PM - Arun: Deal if you promise a laugh üòè
3    26/08/25    1:34 PM - Arun: That smile in your DP‚Ä¶ dange...
4    26/08/25    1:38 PM - Geetha: Flattery will get you ever...
..        ...                                                ...
132  25/08/25         12:38 PM - Geetha: Got it. Friends it is ü´∂
133  25/08/25                      11:25 AM - Geetha: On my desk
134  25/08/25         11:29 AM - Geetha: Got it. Friends it is üíº
135  25/08/25        10:36 AM - Arun: Reminder: rent due today ü´∂
136  25/08/25             10:44 AM - Arun: Anything else needed?

[137 rows x 2 columns]

In [7]:
df.isnull().sum()

0    0
1    0
dtype: int64

In [9]:
df=df.drop(0)

In [11]:
df

            0                                                  1
1    26/08/25   12:46 PM - Geetha: Keep talking like that and...
2    26/08/25     12:47 PM - Arun: Deal if you promise a laugh üòè
3    26/08/25    1:34 PM - Arun: That smile in your DP‚Ä¶ dange...
4    26/08/25    1:38 PM - Geetha: Flattery will get you ever...
5    26/08/25    1:36 PM - Arun: Send me your ETA and I‚Äôll ma...
..        ...                                                ...
132  25/08/25         12:38 PM - Geetha: Got it. Friends it is ü´∂
133  25/08/25                      11:25 AM - Geetha: On my desk
134  25/08/25         11:29 AM - Geetha: Got it. Friends it is üíº
135  25/08/25        10:36 AM - Arun: Reminder: rent due today ü´∂
136  25/08/25             10:44 AM - Arun: Anything else needed?

[136 rows x 2 columns]

In [13]:
df.columns=['Date','Chat']

In [15]:
df

         Date                                               Chat
1    26/08/25   12:46 PM - Geetha: Keep talking like that and...
2    26/08/25     12:47 PM - Arun: Deal if you promise a laugh üòè
3    26/08/25    1:34 PM - Arun: That smile in your DP‚Ä¶ dange...
4    26/08/25    1:38 PM - Geetha: Flattery will get you ever...
5    26/08/25    1:36 PM - Arun: Send me your ETA and I‚Äôll ma...
..        ...                                                ...
132  25/08/25         12:38 PM - Geetha: Got it. Friends it is ü´∂
133  25/08/25                      11:25 AM - Geetha: On my desk
134  25/08/25         11:29 AM - Geetha: Got it. Friends it is üíº
135  25/08/25        10:36 AM - Arun: Reminder: rent due today ü´∂
136  25/08/25             10:44 AM - Arun: Anything else needed?

[136 rows x 2 columns]

In [17]:
Message=df["Chat"].str.split("-",n=1,expand=True)

In [19]:
Message

              0                                                  1
1     12:46 PM    Geetha: Keep talking like that and I‚Äôll say y...
2     12:47 PM                 Arun: Deal if you promise a laugh üòè
3      1:34 PM            Arun: That smile in your DP‚Ä¶ dangerous üòò
4      1:38 PM          Geetha: Flattery will get you everywhere üôà
5      1:36 PM          Arun: Send me your ETA and I‚Äôll match it üôà
..          ...                                                ...
132   12:38 PM                     Geetha: Got it. Friends it is ü´∂
133   11:25 AM                                  Geetha: On my desk
134   11:29 AM                     Geetha: Got it. Friends it is üíº
135   10:36 AM                    Arun: Reminder: rent due today ü´∂
136   10:44 AM                         Arun: Anything else needed?

[136 rows x 2 columns]

In [21]:
df["Time"]=Message[0]

In [23]:
df["Time"]

1       12:46 PM
2       12:47 PM
3        1:34 PM
4        1:38 PM
5        1:36 PM
          ...
132     12:38 PM
133     11:25 AM
134     11:29 AM
135     10:36 AM
136     10:44 AM
Name: Time, Length: 136, dtype: object

In [25]:
Message1=Message[1].str.split(":",n=1,expand=True)

In [27]:
Message1

           0                                           1
1     Geetha   Keep talking like that and I‚Äôll say yes üôà
2       Arun               Deal if you promise a laugh üòè
3       Arun          That smile in your DP‚Ä¶ dangerous üòò
4     Geetha          Flattery will get you everywhere üôà
5       Arun        Send me your ETA and I‚Äôll match it üôà
..       ...                                         ...
132   Geetha                     Got it. Friends it is ü´∂
133   Geetha                                  On my desk
134   Geetha                     Got it. Friends it is üíº
135     Arun                  Reminder: rent due today ü´∂
136     Arun                       Anything else needed?

[136 rows x 2 columns]

In [29]:
df["Name"]=Message1[0]
df["Chat"]=Message1[1]

In [31]:
df["Name"]

1       Geetha
2         Arun
3         Arun
4       Geetha
5         Arun
        ...
132     Geetha
133     Geetha
134     Geetha
135       Arun
136       Arun
Name: Name, Length: 136, dtype: object

In [33]:
df["Chat"]

1       Keep talking like that and I‚Äôll say yes üôà
2                   Deal if you promise a laugh üòè
3              That smile in your DP‚Ä¶ dangerous üòò
4              Flattery will get you everywhere üôà
5            Send me your ETA and I‚Äôll match it üôà
                          ...
132                       Got it. Friends it is ü´∂
133                                    On my desk
134                       Got it. Friends it is üíº
135                    Reminder: rent due today ü´∂
136                         Anything else needed?
Name: Chat, Length: 136, dtype: object

In [35]:
df=df[["Date","Time","Name","Chat"]]

In [37]:
df

         Date        Time     Name                                        Chat
1    26/08/25   12:46 PM    Geetha   Keep talking like that and I‚Äôll say yes üôà
2    26/08/25   12:47 PM      Arun               Deal if you promise a laugh üòè
3    26/08/25    1:34 PM      Arun          That smile in your DP‚Ä¶ dangerous üòò
4    26/08/25    1:38 PM    Geetha          Flattery will get you everywhere üôà
5    26/08/25    1:36 PM      Arun        Send me your ETA and I‚Äôll match it üôà
..        ...         ...      ...                                         ...
132  25/08/25   12:38 PM    Geetha                     Got it. Friends it is ü´∂
133  25/08/25   11:25 AM    Geetha                                  On my desk
134  25/08/25   11:29 AM    Geetha                     Got it. Friends it is üíº
135  25/08/25   10:36 AM      Arun                  Reminder: rent due today ü´∂
136  25/08/25   10:44 AM      Arun                       Anything else needed?

[136 rows x 4 columns]

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 1 to 136
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    136 non-null    object
 1   Time    136 non-null    object
 2   Name    136 non-null    object
 3   Chat    136 non-null    object
dtypes: object(4)
memory usage: 4.4+ KB

In [41]:
# Add a blank column 'Label' first
df["Label"] = ""

# Assign first 68 rows as 'FLIRT'
df.loc[:67, "Label"] = "FLIRT"

# Assign next 68 rows as 'NON_FLIRT'
df.loc[68:136, "Label"] = "NON_FLIRT"

C:\Users\win\AppData\Local\Temp\ipykernel_9584\1971157771.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Label"] = ""

In [43]:
df

,Date,Time,Name,Chat,Label
1,26/08/25,12:46 PM,Geetha,Keep talking like that and I‚Äôll say yes üôà,FLIRT
2,26/08/25,12:47 PM,Arun,Deal if you promise a laugh üòè,FLIRT
3,26/08/25,1:34 PM,Arun,That smile in your DP‚Ä¶ dangerous üòò,FLIRT
4,26/08/25,1:38 PM,Geetha,Flattery will get you everywhere üôà,FLIRT
5,26/08/25,1:36 PM,Arun,Send me your ETA and I‚Äôll match it üôà,FLIRT
...,...,...,...,...,...
132,25/08/25,12:38 PM,Geetha,Got it. Friends it is ü´∂,NON_FLIRT
133,25/08/25,11:25 AM,Geetha,On my desk,NON_FLIRT
134,25/08/25,11:29 AM,Geetha,Got it. Friends it is üíº,NON_FLIRT
135,25/08/25,10:36 AM,Arun,Reminder: rent due today ü´∂,NON_FLIRT
136,25/08/25,10:44 AM,Arun,Anything else needed?,NON_FLIRT

In [45]:
y=df["Label"]

In [47]:
y

1          FLIRT
2          FLIRT
3          FLIRT
4          FLIRT
5          FLIRT
         ...
132    NON_FLIRT
133    NON_FLIRT
134    NON_FLIRT
135    NON_FLIRT
136    NON_FLIRT
Name: Label, Length: 136, dtype: object

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df['Chat'], y, test_size=0.33, random_state=53)

In [55]:
from sklearn.feature_extraction.text import  TfidfVectorizer
# Create TF-IDF Vectorizer
vectorizer = TfidfVectorizer()

# Fit and transform the X_train
tfidf_matrix_train = vectorizer.fit_transform(X_train)
# Convert to array for easier viewing
tfidf_array_train = tfidf_matrix_train.toarray()
print(tfidf_array_train)


# Fit and transform the X_test
tfidf_matrix_test = vectorizer.transform(X_test)
# Convert to array for easier viewing
tfidf_array_test = tfidf_matrix_train.toarray()
print(tfidf_array_test)

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.25897662 0.        ]
 ...
 [0.         0.         0.         ... 0.         0.20288971 0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.25404024 0.        ]]
[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.25897662 0.        ]
 ...
 [0.         0.         0.         ... 0.         0.20288971 0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.25404024 0.        ]]

In [77]:
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
clf = MultinomialNB()

clf.fit(tfidf_matrix_train, y_train)
pred = clf.predict(tfidf_matrix_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

cm = metrics.confusion_matrix(y_test, pred, labels=['FLIRT', 'NON_FLIRT'])

accuracy:   0.822

In [75]:
'''from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC

# Create Hashing Vectorizer
# n_features = dimensionality of the output vector
vectorizer = HashingVectorizer(n_features=10, alternate_sign=False)

# Transform the documents
hashed_matrix_train = vectorizer.transform(X_train)

# Convert to array for readability
hashed_array_train = hashed_matrix_train.toarray()

hashed_matrix_test = vectorizer.transform(X_test)
hashed_array_test = hashed_matrix_test.toarray()

# Create Random Forest Classifier
rf_clf = RandomForestClassifier(n_estimators=100, random_state=42)

# Train model
rf_clf.fit(hashed_matrix_train, y_train)

# Predictions
y_pred = rf_clf.predict(hashed_matrix_test)

score = metrics.accuracy_score(y_test, y_pred)
print("accuracy:   %0.3f" % score)

cm = metrics.confusion_matrix(y_test, pred, labels=['FLIRT', 'NON_FLIRT'])'''

accuracy:   0.800

In [83]:
from sklearn.metrics import classification_report
report=classification_report(y_test, pred)

In [87]:
print(report)

              precision    recall  f1-score   support

       FLIRT       0.72      1.00      0.84        21
   NON_FLIRT       1.00      0.67      0.80        24

    accuracy                           0.82        45
   macro avg       0.86      0.83      0.82        45
weighted avg       0.87      0.82      0.82        45

In [103]:
df['Chat'][5]

' Send me your ETA and I‚Äôll match it üôà'

In [107]:
X_train

51                         It‚Äôs a date üòâ
6                     Wear comfy shoes üôà
40            Call me when you‚Äôre free ‚ú®
136                Anything else needed?
125           Reminder: rent due today ü´∂
                     ...
128      Mom asked for the recipe link ü§ù
64         Deal if you promise a laugh ü•∞
118     Can you share the Wi‚ÄëFi again? ü§ù
30                Friday rooftop plan? ‚ú®
26       Share location when you leave üí¨
Name: Chat, Length: 91, dtype: object

In [111]:
# Create TF-IDF Vectorizer
vectorizer = TfidfVectorizer()

# Fit and transform the X_train
tfidf_matrix_train = vectorizer.fit_transform(X_train)

In [115]:
clf.predict(tfidf_matrix_train[[5]])

array(['FLIRT'], dtype='<U9')